{% extends 'base.html.twig' %}



{% block body %}

<div class="d-flex justify-content-between">
    <div class="flex d-md" style="background-color: red;">
        <h1>Sidebar left</h1>
    </div>
    <div class="container" style="background-color: #0000F0">
        <h1>content middle</h1>
    </div>
    <div class="flex d-sm" style="background-color: #1C440C">
        <h1>Sidebar Right</h1>
    </div>
</div>

{% endblock %}
