{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<div class="container-fluid flex">
    <div class="sidebar left">
        <h1>Sidebar left</h1>
    </div>
    <div class="container">
        <h1>content middle</h1>
    </div>
    <div class="sidebar right">
        <h1>Sidebar Right</h1>
    </div>
</div>

{% endblock %}
