{% extends 'base.html.twig' %}



{% block body %}

<div class="d-flex justify-content-between pl-5 pr-5">
    <div class="shadow-sm p-3 mb-5 bg-white rounded w-25 p-3 m-2">
        <h1>Sidebar left</h1>
    </div>
    <div class="shadow-sm p-3 mb-5 bg-white rounded w-50 p-3 m-2">
        <h1>content middle</h1>
    </div>
    <div class="shadow-sm p-3 mb-5 bg-white rounded w-25 p-3 m-2">
        <h1>Sidebar Right</h1>
    </div>
</div>

{% endblock %}
