body {
    background-color: #e6ecf0;
    padding-top: 5rem;
}


.profile {
    width: 12.5%;
}

a{
    color:#b1524c;

}

.btn-success{
    background-color: #103546 ;
    border: #103546;
}

.btn-success:hover{
    background-color: #103546 ;
}

.logoCenter{
    position: fixed;
    top: 10px;
    left: 47%;
}