body {
    background-color: #e6ecf0;
    padding-top: 5rem;
}


.profile {
    width: 25px;
}

a{
    color: #b1524c !important;
}

nav a{
    color: #333333 !important;
}

.btn-danger {
    color: #fff;
    background-color: #b1524c !important;
    border-color: #b1524c !important;
}

.btn-primary {
    color: #fff;
    background-color: #103546 !important;
    border-color: #103546 !important;
}

.btn-success{
    background-color: #103546 ;
    border: #103546;
}

.btn-success:hover{
    background-color: #103546 ;
}

.logoCenter{
    position: fixed;
    top: 10px;
    left: 47%;
}

.tweet{
    margin-right: 10px;
}

#exampleModal{
    z-index: 3000;
}
