body {
    background-color: #e6ecf0;
    padding-top: 5rem;
}


.profile {
    width: 20%;
}

a{
    color: #b1524c !important;
}

nav a{
    color: #333333 !important;
}

.btn-danger {
    color: #fff;
    background-color: #b1524c !important;
    border-color: #b1524c !important;
}

.btn-primary {
    color: #fff;
    background-color: #103546 !important;
    border-color: #103546 !important;
}