<div class="d-flex fixed-top">
    <div class="w-50 d-flex text-left" style="height: 100vh; background: url('{{ asset('img/index.png') }}'); background-size: cover;'">
        <ul class="m-auto text-white text-left m-5" style="font-size: x-large; list-style: none;">
            <li class="mb-4"><i class="fas fa-search"></i> Suivez vos passions.</li>
            <li class="mb-4"><i class="fas fa-users"></i> Découvrez ce dont les gens parlent autour de vous.</li>
            <li class="mb-4"><i class="fas fa-comment"></i> Rejoignez la conversation.</li>
        </ul>
    </div>
    <div class="m-auto w-50 p-5">
        <p>Découvrez ce qui se passe dans ynov en temps réel<br />
            Evènement du campus, activités et soirée, retrouver l'essentiel du bde autour du twitter du bde.</p>
        <a href="{{ path('login') }}"><button type="button" class="btn btn-primary">Se connecter</button></a>
        <a href="{{ path('registration') }}"><button type="button" class="btn btn-danger">S'inscrire</button></a>
    </div>
</div>